.btn {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1ch;
  padding-inline: 1.75ch;
  padding-block: 1.75ch;
  white-space: nowrap;
  vertical-align: baseline;
  user-select: none;
  appearance: none;
  cursor: pointer;
  border: none;
  font-weight: theme(fontWeight.medium);
  line-height: theme(lineHeight.none);
  font-size: theme(fontSize.base);
  border-radius: theme(borderRadius.DEFAULT);
  transition-property: theme(transitionProperty.all);
  transition-duration: theme(transitionDuration.200);
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

  & > .icon {
    width: 2.25ch;
    height: 2.25ch;
  }

  &-xs {
    font-size: theme(fontSize.xs);
  }
  &-sm {
    font-size: theme(fontSize.sm);
  }
  &-md {
    font-size: theme(fontSize.base);
  }
  &-lg {
    font-size: theme(fontSize.lg);
  }

  &.btn-primary {
    color: theme(colors.white);
    background-color: theme(colors.n-blue.600);
    box-shadow: rgb(0, 0, 0) 0 0 0 0, rgba(255, 255, 255, 0) 0 0 0 2px,
      rgb(255, 255, 255, 0.08) 0 1px 0 0 inset, rgba(theme(colors.n-blue.600), 0.8) 0 0 0 1px,
      rgba(0, 0, 0) 0 1px 0 0, rgba(0, 0, 0, 0.04) 0 2px 2px 0, rgba(0, 0, 0, 0.02) 0 3px 3px 0,
      rgba(0, 0, 0, 0.01) 0 4px 4px 0, rgba(theme(colors.n-blue.200), 0.4) 0 0 0 0;

    &:focus,
    &:hover {
      background-color: theme(colors.n-blue.700);
      box-shadow: rgb(0, 0, 0) 0 0 0 0, rgba(255, 255, 255, 0) 0 0 0 2px,
        rgb(255, 255, 255, 0.08) 0 1px 0 0 inset, rgba(theme(colors.n-blue.600), 0.8) 0 0 0 1px,
        rgba(0, 0, 0) 0 1px 0 0, rgba(0, 0, 0, 0.04) 0 2px 2px 0, rgba(0, 0, 0, 0.02) 0 3px 3px 0,
        rgba(0, 0, 0, 0.01) 0 4px 4px 0, rgba(theme(colors.n-blue.200), 0.4) 0 0 0 4px;
    }

    &:where(:not(:active)):focus-visible {
    }

    &:where(:not(:active)):hover {
    }
  }

  &.btn-secondary {
    color: theme(colors.n-gray.700);
    background-color: theme(colors.white);
    box-shadow: rgb(255, 255, 255) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 2px,
      rgb(255, 255, 255) 0 1px 0 0 inset, rgba(theme(colors.n-gray.700), 0.1) 0 0 0 1px,
      rgba(0, 0, 0, 0.08) 0 1px 0 0, rgba(0, 0, 0, 0.04) 0 2px 2px 0,
      rgba(0, 0, 0, 0.02) 0 3px 3px 0, rgba(0, 0, 0, 0.01) 0 4px 4px 0,
      rgba(theme(colors.n-gray.700), 0.06) 0 0 0 0;

    &:focus,
    &:hover {
      box-shadow: rgb(255, 255, 255) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 2px,
        rgb(255, 255, 255) 0 1px 0 0 inset, rgba(theme(colors.n-gray.700), 0.1) 0 0 0 1px,
        rgba(0, 0, 0, 0.08) 0 1px 0 0, rgba(0, 0, 0, 0.04) 0 2px 2px 0,
        rgba(0, 0, 0, 0.02) 0 3px 3px 0, rgba(0, 0, 0, 0.01) 0 4px 4px 0,
        rgba(theme(colors.n-gray.700), 0.06) 0 0 0 4px;
    }

    &:where(:not(:active)):focus-visible {
    }

    &:where(:not(:active)):hover {
    }
  }

  &.btn-disabled,
  &[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    background-color: theme(colors.n-gray.50);
    border-style: solid;
    border-width: 1px;
    border-color: theme(colors.n-gray.300);
    color: theme(colors.n-gray.400);

    &:hover {
      background-color: theme(colors.n-gray.50);
      box-shadow: none;
      border-color: theme(colors.n-gray.300);
      color: theme(colors.n-gray.400);
    }
  }

  &.btn-loading,
  &[loading] {
    cursor: progress;

    & > .icon {
      display: none;
    }

    &::before {
      right: 0;
      content: '';
      width: 2.25ch;
      height: 2.25ch;
      margin: auto;
      border: 2px solid transparent;
      border-top-color: currentColor;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
      user-select: none;
    }
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
